@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Playfair Display", serif;
    font-family: "Poppins", sans-serif;
  }
  /* Container */
  .roamify-container {
    @apply w-[85vw] xl:w-[95vw] m-auto;
  }
  /* Buttons */
  .button-emerald {
    @apply bg-gradient-to-b from-emerald-500 to-green-500 shadow-lg shadow-emerald-400 rounded-full text-lg sm:text-sm px-9 py-1.5 transition-all duration-200 active:scale-90 text-white sm:w-48;
  }
  .button-light {
    @apply bg-gradient-to-b from-white to-slate-100 shadow-lg shadow-slate-100 rounded-full text-lg sm:text-sm px-9 py-1.5 transition-all duration-200 active:scale-90 text-black sm:w-48;
  }

  /* drop-shadow-emerald */
  .drop-shadow-emerald {
    filter: drop-shadow(0.1rem 0.1rem 1rem rgba(74 222 128/80%));
  }
}
